    h1 {
        color: black;
        text-align: center;
        font-size: 55px;
    }
    
    * {
        background-color: rgb(64, 206, 216);
        font-family: Arial, Helvetica, sans-serif;
    }
    
    hr {
        border: 3px solid black;
        border-radius: 3px;
    }
    
    .personalizar {
        text-align: center;
        margin-top: 50px;
    }
    
    .boton_dulce {
        font-size: 20px;
        font-family: Verdana, Helvetica;
        font-weight: bold;
        color: rgb(15, 228, 192);
        background: rgb(14, 11, 11);
        border: 0px;
        width: 120px;
        height: 60px;
        margin-left: 200px;
        margin-right: 250px;
        margin-top: 100px;
    }
    
    .boton_salado {
        font-size: 20px;
        font-family: Verdana, Helvetica;
        font-weight: bold;
        color: rgb(15, 228, 192);
        background: rgb(20, 15, 15);
        border: 0px;
        width: 120px;
        height: 60px;
    }
    
    .boton_saludable {
        font-size: 20px;
        font-family: Verdana, Helvetica;
        font-weight: bold;
        color: rgb(15, 228, 192);
        background: rgb(20, 15, 15);
        border: 0px;
        width: 130px;
        height: 60px;
        margin-left: 250px;
    }
    
    .combos {
        color: red;
        text-decoration: underline red 3px;
    }
    
    .informacion_cliente {
        margin-top: 50px;
    }
    
    .contacto {
        font-size: 20px;
        color: black;
        text-align: right;
        margin-right: 40px;
        margin-top: 20px;
    }